// import fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
}

.primary-gradient{
    margin: 1em;
    border: 2px solid #06283D;
    border-radius: 10px;
    padding: 0.5rem;
}



// import partial files 
@import './saas/extends';
@import './saas/login';
@import './saas/crud';


